Source: dde-help
Section: doc
Priority: optional
Maintainer: Deepin Packages Builder <packages@deepin.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: http://www.deepin.org/

Package: dde-help
Architecture: all
Depends: ${misc:Depends}, dde-help-zhcn, dde-help-enus
Description: Help files for dde (dummy package)
 deepin dde help files.

Package: dde-help-zhcn
Architecture: all
Depends: ${misc:Depends}, dde-help-common
Description: Chinese Simplified (zh_CN) Help files for dde
 deepin dde Chinese Simplified (zh_CN) Help files.

Package: dde-help-enus
Architecture: all
Depends: ${misc:Depends}, dde-help-common
Description: English (en_US) Help files for dde
 deepin dde English (en_US) Help files

Package: dde-help-common
Architecture: all
Depends: ${misc:Depends}
Description: common files .
 deepin dde-help common files.
